.a-game {
  position: relative;
}
  .a-game--canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .a-game--train {
    animation: a-game--train 8s linear 0s infinite;
    -webkit-background-clip: text;
    background-clip: text;
    background-color: #FFAEBC;
    background-image: linear-gradient(0deg, #FFAEBC, #A0E7E5, #B4F8C8, #FBE7C6, #FFAEBC);
    background-size: 200% 200%;
    bottom: 0;
    font-family: ComicSharkRegular, fantasy;
    font-size: 4em;
    left: 0;
    position: absolute;
    text-align: center;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    width: 100%;
    z-index: 2;
  }
    .a-game--train-graphicsOff {
      visibility: hidden;
    }

@keyframes a-game--train {
  0% {
    background-position: center 0%;
  }
  100% {
    background-position: center 200%;
  }
}
