.a-game {
  position: relative;
  overflow: hidden;
}
  .a-game * {
    pointer-events: none;
  }
  .a-game--canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .a-game--paused {
    background-color: rgba(0, 0, 0, 0.666);
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 0;
    width: 100%;
    z-index: 2;
  }
    .a-game--paused-active {
      opacity: 1;
    }
  .a-game--pausedText {
    animation: a-game--pausedText 1s ease 0s infinite alternate;
    line-height: 4;
    text-transform: uppercase;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }
    .a-game--paused-active .a-game--pausedText {
      transform: translateY(0);
    }
  .a-game--train {
    animation: a-game--backgroundRotate 8s linear 0s infinite;
    bottom: 0;
    font-family: ComicSharkRegular, fantasy;
    font-size: 4em;
    left: 0;
    position: absolute;
    text-align: center;
    transition: transform 0.5s ease;
    transform: translateY(100%);
    width: 100%;
    z-index: 3;
  }
    .a-app--screen-active .a-game--train {
      transform: translateY(0);
    }

  .a-game--toast {
    animation: a-game--toast--in 0.5s linear 0s 1 normal both;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(0);
  }
  .a-game--toast[aria-hidden="true"] {
    animation: a-game--toast--out 1.5s linear 0s 1 normal both;
  }
  .a-game--toast span {
    animation: a-game--backgroundRotate 0.5s linear 0s infinite;
    font-family: RobotoBold;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  .a-game--toasts {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 3;
  }

.a-game-graphicsOff::after {
  background-color: #000000;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.a-game--toast span,
.a-game--train {
  -webkit-background-clip: text;
  background-clip: text;
  background-color: #FFAEBC;
  background-image: linear-gradient(0deg, #FFAEBC, #A0E7E5, #B4F8C8, #FBE7C6, #FFAEBC);
  background-size: 200% 200%;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@keyframes a-game--backgroundRotate {
  0% {
    background-position: center 0%;
  }
  100% {
    background-position: center 200%;
  }
}

@keyframes a-game--pausedText {
  0% {
    text-shadow: 0 0 0em rgba(255, 255, 255, 0);
  }
  100% {
    text-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
  }
}

@keyframes a-game--toast--in {
  0% {
    font-size: 0.5em;
    opacity: 0;
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    font-size: 1em;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes a-game--toast--out {
  0% {
    font-size: 1em;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    font-size: 1.5em;
    opacity: 0;
    transform: translateX(-50%) translateY(-150%);
  }
}
