.a-gameOver {}
  .a-gameOver--highscore {
    margin-top: 1em;
  }
  .a-gameOver--restart {
    margin-top: 3rem;
  }
  .a-gameOver--success {
    animation: a-gameOver--success 2s ease 0s infinite normal both;
    font-family: RobotoBold, serif;
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .a-gameOver--score {
    font-size: 1.5em;
    margin-top: 2rem;
  }
  .a-gameOver--title {
    font-family: ComicSharkRegular, fantasy;
    font-size: 6em;
    line-height: 1;
    transform: scale(1.25);
    transition: transform 1s ease;
  }

.a-app--screen-active .a-gameOver--title {
  transform: scale(1);
}

@keyframes a-gameOver--success {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.75;
    transform: scale(1.0625);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: reduced) {
  .a-gameOver--title {
    transform: scale(1) !important;
    transition: none;
  }

  @keyframes a-gameOver--success {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}
